@media (max-width:1700px) {
    .slider {
        width: 80%;
    }
}
@media (max-width:862px) {
    .slider {
        width: 70%;
    }
    .slider-arow {
        display: none;
    }
    .fa-chevron-left {
        display: none;
    }
}















@media (max-width:1126px) {
    .categories-nav {
        display: none;
    }
    .categories-ul {
        flex-direction: column;
    }
    .search-div {
        display: none;
    }
    .burger-div {
        display: flex;
    }
    .activebar {
        display: flex;
        margin-left: 50%;
        height: 120px;
    }
}
@media (max-width:461px) {
    .discover {
        margin: 0 auto;
        margin-top: 30px;
        font-size: 30px;
    }
}
@media (max-width:437px) {
    .section1-text-div {
        flex-wrap: wrap;
        text-align: center;
    }
    .purchase-now-div {
        margin: 0 auto;
        margin-top: 20px;
    }
    .section3-headline {
        margin: 0 auto;
        font-size: 30px;
    }
}