@media (max-width:1700px) {
    .slider {
        width: 80%;
    }
}
@media (max-width:862px) {
    .slider {
        width: 70%;
    }
    .slider-arow {
        display: none;
    }
    .fa-chevron-left {
        display: none;
    }
}














@media (max-width:1516px) {
    .section2-block {
        width: 34%;
        margin-top: 40px;
    }
    .section2-wrapper {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .section3-wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .discover {
        font-size: 70px;
    }
}
@media (max-width:1126px) {
    .categories-nav {
        display: none;
    }
    .categories-ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .search-div {
        display: none;
    }
    .burger-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .activebar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 50%;
        height: 120px;
    }
}
@media (max-width:660px) {
    .activebar {
        margin-left: 10%;
    }
}
@media (max-width:461px) {
    .discover {
        margin: 0 auto;
        margin-top: 30px;
        font-size: 30px;
    }
    .activebar {
        background-color: black;
        position: absolute;
        top: 100px;
        left: 68%;
        z-index: 100;
    }
    .categories-nav {
        z-index: 90;
        height: 200px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-bottom: solid 2px grey;
    }
}
@media (max-width:437px) {
    .section1-text-div {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
    }
    .purchase-now-div {
        margin: 0 auto;
        margin-top: 20px;
    }
    .section3-headline {
        margin: 0 auto;
        font-size: 30px;
    }
}
@media (max-width:386px) {
    .logo-background-wrapper {
        display: none;
    }
    .activebar {
        left: 65%;
    }
}
@media (max-width:350px) {
    .section1-headline {
        font-size: 36px;
    }
    .section1-paragraph {
        font-size: 20px;
    }
    .activebar {
        left: 60%;
    }
}
@media (max-width:322px) {
    .footer-headline {
        font-size: 30px;
    }
    .fa-brands {
        font-size: 30px;
    }
}