body {
    background-color: white;
}
header {
    width: 100%;
    height: auto;
    background-color: black;
}
footer {
    background-color: black;
}
.header-div {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 150px;
}
.logo {
    width: 219px;
    background-color: #B80F14;
    z-index: 10;
}
.categories-wrapper {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories {
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
    transition: linear 0.3s;
}
.active {
    color: #B80F14;
}
.categories-ul {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}
.search-div {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    height: 30px;
    margin-bottom: 4px;
    opacity: 85%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
}
.search:focus {
    outline: none;
}
.categories:hover {
    color: #B80F14;
    font-size: 21px;
}
/* section1 */
.logo-background-wrapper {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    padding-right: 550px;
}
.logo-background {
    background-color: #B80F14;
    width: 219px;
    height: 20px;
    box-shadow: 15px 5px 20px grey;
}
.slider {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

}
.slider .slider_item {
    width: 100%;
    height: 550px;
}
.slider .slider_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}
.slick-prev {
    left: -5%;
    z-index: 5;
}
.slick-next {
    right: -2%;
}
.hover-zoom {
    transition: ease-out 0.3s;
    position: relative;
}
.hover-zoom:hover {
    transform: scale(1.03);
}
.section1-text {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Montserrat';
}
.slider-arow {
    color: grey;
    font-size: 80px;
    transition: linear 0.3s;
}
.fa-chevron-left {
    color: grey;
    font-size: 80px;
    transition: linear 0.3s;
}
.fa-chevron-left:hover {
    color: black;
    font-size: 82px;
}
.slider-arow:hover {
    color: black;
    font-size: 82px;
}
.section1-text-div {
    display: flex;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: top;
    padding-right: 100px;
}
.section1-headline {
    color: black;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-bottom: 13px;
}
.section1-paragraph {
    color: black;
    opacity: 75%;
    font-size: 27px;
    font-family: 'Montserrat';
}
.purchase-now-div {
    width: 168px;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    transition: linear 0.5s;
}
.purchase-now {
    color: white;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
    transition: linear 0.3s;
    font-family: 'Montserrat';
}
.purchase-now-div:hover {
    background-color:#B80F14;
}
.purchase-now:hover {
    font-size: 20px;
    transition: linear 0.3s;

}
.fa-magnifying-glass {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}
/* section2 */
.section2-wrapper {
    max-width: 1500px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
}
.about-us {
    display: flex;
    width: fit-content;
    font-size: 64px;
    font-weight: 500;
    font-family: 'Montserrat';
    margin-bottom: 5px; 
    transition: linear 0.4s;
    cursor: pointer;
}
.about-us:hover {
    color: #B80F14;
}
.section2-paragraph {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 200;
    opacity: 70%;
    max-width: 820px;
    width: 100%;
    margin-bottom: 40px;
}
.section2-block1 {
    max-width: 950px;
    width: 100%;
}
.block1-img {
    max-width: 500px;
    width: 100%;
    transition: ease-out 0.5s;
    position: relative;
    margin-left: 20px;
}
.block1-img:hover {
    transform: scale(1.1);
}
.block1-image-div {
    position: relative;
}
.margin {
    margin-top: 150px;
}

.block2-img {
    transition: ease-out 0.5s;
}
.block2-img:hover {
    transform: scale(1.1);
}
/* section-3 */

.section3-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section3-headline {
    font-size: 90px;
    width: fit-content;
    margin-left: 11.8%;
    margin-top: 70px;
    font-weight: 900;
    font-family: 'Montserrat';
}
.section-item {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section3-image {
    max-width: 500px;
    width: 100%;
}
.find-car-div {
    background-color: black;
    width: 168px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    transition: linear 0.5s;
    cursor: pointer;
}
.bot-div {
    color: white;
    font-size: 18px;
}
.find-car-text {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
}
.find-car {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.find-car-div:hover {
    background-color: #B80F14;
}

/* footer */
.footer-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    padding-bottom: 100px;
    padding-top: 2px;
}
.footer-headline {
    width: fit-content;
    font-size: 90px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat';
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 91.4285714288px;
}
.footer-icon-wrapper {
    max-width: 904px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 91.4285714288px;
}
.fa-brands {
    font-size: 65px;
    color: white;
    transition: linear 0.3s;
}
.fa-brands:hover {
    color: grey;
}