:root {
    --mainfont: 'Montserrat';
    --maincolor: #B80F14;
    --mainwidth: 1500px;
}



body {
    background-color: white;
}
header {
    width: 100%;
    height: auto;
    background-color: black;
}
footer {
    background-color: black;
}
.header-div {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 150px;
    position: relative;
}
.logo {
    max-width: 219px;
    width: 100%;
    background-color: var(--maincolor);
    z-index: 10;
}
.categories-wrapper {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories {
    font-size: 20px;
    color: white;
    font-family: var(--mainfont);
    transition: linear 0.3s;
}
.active {
    color: var(--maincolor);
}
.categories-ul {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories-nav {
    max-width: 500px;
    width: 100%;
}
.search-div {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    height: 30px;
    margin-bottom: 4px;
    opacity: 85%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: var(--mainfont);
}
.search:focus {
    outline: none;
}
.categories:hover {
    color: var(--maincolor);
    font-size: 21px;
}
/* section1 */
.logo-background-wrapper {
    position: absolute;
    top: 130px;
}
.logo-background {
    background-color: var(--maincolor);
    width: 219px;
    height: 20px;
}
.slider {
    display: flex;
    max-width: var(--mainwidth);
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

}
.slider .slider_item {
    width: 100%;
    height: 550px;
}
.slider .slider_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: center;
    background-repeat: no-repeat;
}
.slick-prev {
    left: -5%;
    z-index: 5;
}
.hover-zoom {
    width: 100%;
    transition: ease-out 0.3s;
    /* position: relative; */
}
.hover-zoom:hover {
    transform: scale(1.03);
}
.section1-text {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    font-family: var(--maincolor);
}
.slider-arow {
    position: absolute;
    color: grey;
    font-size: 80px;
    transition: linear 0.3s;
    z-index: 7;
}
.fa-chevron-left {
    position: absolute;
    color: grey;
    font-size: 80px;
    transition: linear 0.3s;
    z-index: 9;
}
.fa-chevron-left:hover {
    color: black;
    font-size: 82px;
}
.slider-arow:hover {
    color: black;
    font-size: 82px;
}
.section1-text-div {
    display: flex;
    max-width: var(--mainwidth);
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: top;
    padding-right: 100px;
}
.section1-headline {
    color: black;
    font-size: 50px;
    font-weight: 700;
    font-family: var(--mainfont);
    margin-bottom: 13px;
}
.section1-paragraph {
    color: black;
    opacity: 75%;
    font-size: 27px;
    font-family: var(--mainfont);
}
.purchase-now-div {
    width: 168px;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    transition: linear 0.5s;
}
.purchase-now {
    color: white;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
    transition: linear 0.3s;
    font-family: var(--mainfont);
}
.purchase-now-div:hover {
    background-color: var(--maincolor);
}
.purchase-now:hover {
    font-size: 20px;
    transition: linear 0.3s;

}
.fa-magnifying-glass {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}
/* section2 */
.section2-wrapper {
    max-width: var(--mainwidth);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 45px;
}
.discover {
    font-size: 90px;
    font-weight: 900;
    font-family: var(--mainfont);
    width: fit-content;
    margin-left: 10.2%;
    margin-top: 80px;
    cursor: default;
}
.section2-image {
    width: 100%;
}
.section2-text {
    font-size: 18px;
    font-family: var(--mainfont);
    margin-top: 12px;
    transition: linear 0.3s;
    cursor: pointer;
}
.section2-text:hover {
    color: var(--maincolor);
}
/* section-3 */

.section3-wrapper {
    max-width: var(--mainwidth);
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section3-headline {
    font-size: 90px;
    width: fit-content;
    margin-left: 10.2%;
    margin-top: 70px;
    font-weight: 900;
    font-family: var(--mainfont);
    cursor: default;
}
.section-item {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section3-image {
    max-width: 500px;
    width: 100%;
}
.find-car-div {
    background-color: black;
    width: 168px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    transition: linear 0.3s;
    cursor: pointer;
}
.bot-div {
    color: white;
    font-size: 18px;
}
.find-car-text {
    color: white;
    font-size: 14px;
    font-family: var(--mainfont);
}
.find-car {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.find-car-div:hover {
    background-color: var(--maincolor);
}

/* footer */
.footer-wrapper {
    max-width: var(--mainwidth);
    width: 100%;
    margin: 0 auto;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 2px;
    margin-top: 50px;
}
.footer-headline {
    width: fit-content;
    font-size: 73.1428571424px;
    color: white;
    font-weight: 900;
    font-family: var(--mainfont);
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 91.4285714288px;
}
.footer-icon-wrapper {
    max-width: 904px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 91.4285714288px;
}
.fa-brands {
    font-size: 42px;
    color: white;
    transition: linear 0.3s;
}
.fa-brands:hover {
    color: gray;
}
/* bottom-section */
.bottom-section-wrapper {
    max-width: var(--mainwidth);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 1px grey;
    margin: 0 auto;
}
.bottom-section-block {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.bot-section-list {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bot-section-list-headline {
    font-size: 24px;
    font-family: var(--mainfont);
}
.bottom-section-text {
    font-family: var(--mainfont);
    opacity: 70%;
    transition: linear 0.3s;
    cursor: pointer;
}
.bottom-section-text:hover {
    opacity: 100%;
}
.li2 {
    height: 51px;
}
.block2 {
    height: 90px;
}
.li3 {
    height: 120px;
}
.block3 {
    height: 160px;
}
.burger-div {
    display: none;
}
.burger {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 45px;
    right: 45px;
    cursor: pointer;
}