body {
    background-color: black;
}
header {
    width: 100%;
    height: auto;
    background-color: #E4DBF9;
}
.header-div {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 550px;
}
.logo {
    width: 219px;
}
.categories-wrapper {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories {
    font-size: 20px;
    color: black;
    font-family: 'Montserrat';
    transition: linear 0.3s;
}
.active {
    color: #B80F14;
}
.categories-ul {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}
.categories:hover {
    color: #B80F14;
    font-size: 22px;
}
/* section1 */
.slider {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.slider .slider_item {
    width: 100%;
    height: 550px;
}
.slider .slider_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}
.hover-zoom {
    transition: ease-out 0.3s;
}
.hover-zoom:hover {
    transform: scale(1.1);
}
.section1-text {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Montserrat';
}
.fa-solid {
    color: #B80F14;
    font-size: 80px;
}
.section1-headline {
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.section1-paragraph {
    color: grey;
    font-size: 24px;
    font-family: 'Montserrat';
}
.read-more-div {
    width: 168px;
    height: 60px;
    background-color: #E4DBF9;
    display: flex;
    align-items: center;
    transition: linear 0.5s;
}
.read-more {
    color: black;
    font-size: 24px;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
    transition: linear 0.3s;
}
.read-more-div:hover {
    background-color:#B80F14;
}
.read-more:hover {
    font-size: 26px;
    transition: linear 0.3s;

}
